[MQTT]
MQTT_BROKER = 172.17.0.1
MQTT_PORT = 1883
MQTT_KEEPALIVE = 60
MQTT_BIND_ADDRESS = ''
MQTT_QOS = 0

[CELERY]
CELERY_BROKER = pyamqp://guest@172.17.0.2//
CELERY_BACKEND = rpc://
CELERY_EXPIRE = 3600
CELERY_TIMEZONE = UTC

[REDIS]
REDIS_HOST = '127.0.0.1'
REDIS_PORT =  ''
REDIS_DB = 1

[DATABASE]
DATABASE_HOST = '127.0.0.1'
DATABASE_PORT = 5432
DATABASE_NAME = microdevices
DATABASE_ENGINE = sqlite:///microdevices.db
